{% extends "blog/base.html" %}

{% block title %}{{ post.title }}{% endblock title %}

{% block content %}
    <h1>{{ post.title }}</h1>
    <p class="date">
        Published {{ post.published }} by {{ post.author }}
    </p>
    {{ post.body|linebreaks }}
    <p>
        <a href="{% url 'blog:post_share' post.id %}">
        Share this post
        </a>
    </p>
{% endblock content %}